PORT=3000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://<username>:<password>@<database_name>.r3ybqnw.mongodb.net/Pomodoro?retryWrites=true&w=majority&appName=<app_name>"
SECRET="your_secret"
GOOGLE_CLIENT_ID="your client id"
GOOGLE_CLIENT_SECRET="your client secret"


EMAIL_USER="your_email"
EMAIL_PASSWORD="your_password"
EMAIL_HOST="smtp.gmail.com"
