#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;;
}

.header {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 15%;
  /* border: 1px solid red; */
  background-color: #1a1a1a;
  border-radius: 5px;
}


.stats{
  /* border: 1px solid red; */
  padding: 0 0 0 20% ;
  background-color: #1a1a1a;
  border-radius: 5px;
}
.image {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background-color: red;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

